* {
  margin: 0;
}


body {
    background-color: #1c1c1c;
    color: white;
}

/* bagian header */
.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  margin-right: 40px;
}

.logo {
  font-size: 30px;
  color: #6e8cfb;
}

.menu-container {
  flex: 0;
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu-list-item {
  margin-right: 25px;
  font-size: 14px;
  cursor: pointer;
}

.menu-list-item.active {
  font-weight: bold;
}

.genre-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.genre-btn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Sen", sans-serif;
  padding: 0;
  margin-left: 5px;
}

.genre-btn:hover {
  background-color: #1f1f1f;
}

.genre-menu {
  display: none;
  position: absolute;
  background-color: #141414;
  border: 1px solid #333;
  padding: 10px 20px;
  top: 130%;
  left: 0;
  z-index: 10;
  min-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 30px;
}

.genre-menu a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 1.8;
}

.genre-menu a:hover {
  color: #b3b3b3;
}

.genre-dropdown:hover .genre-menu {
  display: grid;
}

.profile-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
}

.search-box input {
  width: 0;
  opacity: 0;
  padding: 8px 12px;
  border: none;
  background: #333;
  color: white;
  transition: all 0.4s ease;
  font-size: 16px;
}

.search-box i {
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
}

.search-box input:focus,
.search-box:hover input {
  width: 200px;
  opacity: 1;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 20%;
  object-fit: cover;
}

/* bagian film */

.film-wrapper iframe {
    /* padding-left: 60rem;
    padding-right: 60rem; */
    border: none;
}

.rating-film i {
    color: gold;
    font-size: 24px;
}

.info-film-detail .ratingfilm {
    display: flex;
    color: aqua;
    justify-content: center;
    align-items: center;
}

/* Bagian Film */

.film-wrapper iframe {
  border-color: black;
  margin: 20px 20px 0 20px; 
}

/* Bagian Detail Film */

.film-detail h2 {
  margin-top: 20px ;
  margin-left: 24px;
}

.film-detail .rating-detail-film {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.rating-detail-film i {
  color: gold;
}

.film-detail .film-detail-all {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 24px;
  margin-top: 20px;
}

.film-detail-all .vertical-line-detail-film {
  width: 1px;
  height: 17px;
  background-color: white;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.genre-container-film {
  display: flex;
  gap: 16px;
  margin-left: 22px;
  margin-top: 15px
}

.genre-container-film .genre-box {
  background-color: #3E3E3E;
  color: white;
  padding: 7px 7px;
  font-size: 14px;
  border-radius: 3.5px;
  transition: background-color 0.7s;
}

.genre-box:hover {
  color: #141414;
  background-color: white;
  
}

.film-synopsis p {
  margin-top: 30px;
  margin-left: 22px;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* bagian review film */

.review-film {
  width: 90%;
  margin-left: 20px;
  margin-top: 50px;
}

.review-film h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.review-film .profile-picture-user {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  background-size: cover;
}

.review-film .review-user {
  display: flex;
  padding: 10px;
  align-items: flex-start;
}

.review-content-user p {
  margin-left: 15px;

}

.username {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.time {
  font-size: 14px;
  margin-bottom: 15px;
}

.comment {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}